In [27]:
friendPizza=["Fajita","Vegetable","cheessy"]
newPizza=friendPizza.copy()
friendPizza.append("tikka")
newPizza.append("groomy")
print("My friend pizzas are : ")
for a in friendPizza:
    print(a)
print("New Pizzas are : ")
for b in newPizza :
    print(b)

My friend pizzas are :
Fajita
Vegetable
cheessy
tikka
New Pizzas are :
Fajita
Vegetable
cheessy
groomy

In [28]:
current_users=["'ali'","'akbar'","'ahsan'","'baburao'","'umer'"]
new_users=["'ali'","'akram'","'sham'","'hamza'","'umer'","'baburao'","'tooba'"]
for a in new_users: 
    if a in current_users :
        print(a + " You need to enter a new UserName\n")
    else :
        print( a + " this userName is available\n")

'ali' You need to enter a new UserName

'akram' this userName is available

'sham' this userName is available

'hamza' this userName is available

'umer' You need to enter a new UserName

'baburao' You need to enter a new UserName

'tooba' this userName is available

In [29]:
s="Pakistan"
s[3]

'i'

In [30]:
s.find("a")

1

In [31]:
s.index("k")

2

In [32]:
name="'fahad'"
f_name="'ali'"
print("My friend name is : " + name + " and his father name is : "+ f_name)

My friend name is : 'fahad' and his father name is : 'ali'

In [38]:
print("My friend name is : {} and his father name is : {}".format(name,f_name))

My friend name is : 'fahad' and his father name is : 'ali'

In [39]:
print(f" My friend name is : {name} and his father name is : {f_name}" )

 My friend name is : 'fahad' and his father name is : 'ali'

In [41]:
num=45
name="asad"
print(f"my name is {name} and my number is {num} num")

my name is asad and my number is 45 num

In [42]:
person="nasir"
print("my name is {}".format(person))

my name is nasir

In [43]:
print(f"my name is : {person}")

my name is : nasir

In [48]:
d={"a":123, "b":456, "c":789}
print(f" my number is {d['a']}")

 my number is 123

In [49]:
myList=[1,2,3]
print(f"my number is {myList[2]}")

my number is 3

In [55]:
library=[("author","topic","pages"),
        ("nasir","deeplearning",300),
        ("ahmed","phython",500),
        ("zia","kube",300)]
library

[('author', 'topic', 'pages'),
 ('nasir', 'deeplearning', 300),
 ('ahmed', 'phython', 500),
 ('zia', 'kube', 300)]

In [56]:
dictionary={1:"india",2:"america"}
print(f"my frnds name is {dictionary[1]} and his father name is {dictionary[2]}")

my frnds name is india and his father name is america

# TUPPLE IS IMMUTABLE

In [57]:
myTupple=("apple","orange","lemon","pineapple")
type(myTupple)

tuple

In [65]:
a= 12 , 3456 , 789   #Packing of Values
a

(12, 3456, 789)

In [67]:
b,c,d = a           #Unpacking of Values
b

12

In [68]:
c

3456

In [69]:
d

789