In [2]:
def full_name() : 
    print('Hammad')

In [3]:
full_name()

Hammad

In [7]:
def full_name1() : 
    print('Hammad')
    print('Rizwan')

In [8]:
full_name1()

Hammad
Rizwan

In [11]:
def student (h) : 
    print(h)

In [13]:
student('hammad')

hammad

In [14]:
student(1213)

1213

In [15]:
student(True)

True

In [17]:
student(['hammad','Rizwan'])

['hammad', 'Rizwan']

In [60]:
def calc(num1,oper,num2):
    if oper=='+':
        print(num1 + num2 )
    elif oper =='-':
        print(num1 - num2)
    elif oper =='*':
        print(num1 * num2)
    elif oper == '/':
        print(num1 / num2)
    else : 
        print('Invalid Operation')

In [62]:
calc(547,'/',60)

9.116666666666667

In [10]:
def myname(fname):
    return fname
name1 = myname('Hammad')
print(name1)

Hammad

In [11]:
def family(son_name , father_name):
    print(f'son name is {son_name}')
    print(f"father name is {father_name}")

In [12]:
family('ahsan','shahzad')

son name is ahsan
father name is shahzad

In [13]:
def frnd(lol):
    for frd in lol:
        print(frd)

In [15]:
abc = ["hamad",'rizwan',"taha",'riaz','rafay','haseeb','hadi','naviwala']
frnd(abc)

hamad
rizwan
taha
riaz
rafay
haseeb
hadi
naviwala

In [16]:
def my_full_name (f_name , m_name , l_name):
    full_name = f_name + m_name + l_name
    print(full_name)

In [22]:
my_full_name(' hamad',' rizwan',' naviwala')

 hamad rizwan naviwala

In [25]:
#m_name is set as a default and must be come at the end of the code
def my_full_name (f_name , l_name ,m_name=' '):
    full_name = f_name + m_name + l_name
    print(full_name)

In [26]:
my_full_name('abdul ' , 'rafay')

abdul  rafay

In [47]:
def shopping(shop,tax=' '):
    if shop>=5000:
        tax=10
        print(f'TAX {tax}% will be applied on your shopping ')
    else:
        tax=5
        print(f'TAX {tax}% will be applied on your shopping ')

In [48]:
shopping(5000)

TAX 10% will be applied on your shopping

In [49]:
shopping(4999)

TAX 5% will be applied on your shopping

In [54]:
shopping(4999.99999999999)

TAX 5% will be applied on your shopping

In [19]:
def val(*names):
    print('my Family members are : ')
    for name in names :
        print(name)

In [20]:
val("hammad")

my Family members are :
hammad

In [21]:
val("rizwan","naviwala")

my Family members are :
rizwan
naviwala

In [6]:
class Dog():
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def sit(self):
        print(self.name.title() + " aged " + str(self.age) + " years and is now sitting.")
    def roll_over(self):
        print(self.name.title() + " rolled over!")

In [7]:
dog1=Dog('tittooo',17)
dog1.name

'tittooo'

In [8]:
dog1.sit()

Tittooo aged 17 years and is now sitting.

In [9]:
dog1.roll_over()

Tittooo rolled over!

In [13]:
class car():
    def __init__(self,make,model,year):
        self.make=make
        self.model=model
        self.year=year
        self.odometer_reading=0
    def get_descriptive_name(self):
        long_name=str(self.year)+" "+self.make+" "+self.model
        return long_name.title()
    def read_odometer(self):
        print("This car has "+str(self.odometer_reading)+" miles on it.")
    def update_odometer(self,mileage):
        if mileage>=self.odometer_reading:
            self.odometer_reading=mileage
        else:
            print("you can't roll back an odometer")
        return (f'Now car is showing {self.odometer_reading} mileage on it')

In [14]:
Car1=car("Audi","A3",2016)
Car1.make

'Audi'

In [15]:
Car1.read_odometer()

This car has 0 miles on it.

In [16]:
Car1.update_odometer(60)

'Now car is showing 60 mileage on it'

In [18]:
Car1.update_odometer(29)

you can't roll back an odometer

'Now car is showing 60 mileage on it'

In [19]:
Car1.update_odometer(90)

'Now car is showing 90 mileage on it'

In [2]:
class resturant():
    def __init__(self,name,cuisine_type,open_close):
        self.name=name
        self.cuisine_type=cuisine_type
        self.open_close=open_close
        self.number_served=10
    def describe_resturant(self):
        print(f"returant name is {self.name} and cuisine type is {self.cuisine_type}")
        
    def open_returant(self):
        print(f"resturant is {self.open_close}")
        
    def set_number_served(self,coustomer_served):
        self.number_served=coustomer_served
        return(f"YOUR RESTURANT HAS SERVED {self.number_served} COUSTOMER TODAY.")
    
    def increament_number(self,number_serve):
        self.number_served+=number_serve
        return(f"YOUR RESTURANT HAS SERVED {self.number_served} COUSTOMER TODAY.")

In [4]:
resturant('hab','ik','12-5')

#                   INHERITANCE

In [11]:
class car():
    def __init__(self,make,model,year):
        self.make=make
        self.model=model
        self.year=year
        self.odometer_reading=0
    def get_descriptive_name(self):
        long_name=str(self.year)+" "+self.make+" "+self.model
        return long_name.title()
    def read_odometer(self):
        print("This car has "+str(self.odometer_reading)+" miles on it.")
    def update_odometer(self,mileage):
        if mileage>=self.odometer_reading:
            self.odometer_reading=mileage
        else:
            print("you can't roll back an odometer")
        return (f'Now car is showing {self.odometer_reading} mileage on it')

In [13]:
class elec_car(car):
    def __init__(self,make,model,year):
        super().__init__(make,model,year)
        self.battery_size = 70
        
    def describe_battery(self):
        print('This car has a ' + str(self.battery_size) + '-KWh battery')
my_tesla = elec_car('tesla','models',2016)
print(my_tesla.get_descriptive_name())

2016 Tesla Models