# List comprehensive

In [1]:
aList = [1,2,3,4,5,6]

In [2]:
eList = []
for a in range(0,35):
    if a%2==0:
        eList.append(a)
print(eList)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34]

In [3]:
eList=[a for a in range(0,30)if a%2==0]
eList

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [4]:
[x**2 for x in range(1,10)]

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [5]:
[x**2 for x in range(1,10) if x%2!=0]

[1, 9, 25, 49, 81]

In [6]:
[(x,y) for x in [1,2,3] for y in [3,1,4] if x !=y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [7]:
comb=[]
for x in [1,2,3]:
    for y in [3,1,4]:
        if x!=y:
            comb.append((x,y))
comb

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [8]:
[(x,y) for x in [1,2,3] for y in [3,1,4] if x==y]

[(1, 1), (3, 3)]

In [9]:
comb=[]
for x in [1,2,3]:
    for y in [3,1,4]:
        if x==y:
            comb.append((x,y))
comb

[(1, 1), (3, 3)]

In [ ]:
vec=[-4,-2,0,2,4]
[x*2 for x in vec]

[-8, -4, 0, 4, 8]

In [ ]:
[x for x in vec if x>=0]

[0, 2, 4]

# absolute function

In [ ]:
[abs(x) for x in vec]

[4, 2, 0, 2, 4]

In [ ]:
#removing spaces from both side in a string
freshfruit=['banana','berry','khajoor']
[weapon.strip() for weapon in freshfruit]

['banana', 'berry', 'khajoor']

In [ ]:
[(x,x**2) for x in range(6)]

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [ ]:
vec = [[1,2,3],[4,5,6],[7,8,9]]
[num for elem in vec for num in elem]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#removing spaces from right side in a string
freshfruit=['  banana','berry  ','khajoor']
[weapon.rstrip() for weapon in freshfruit]

['  banana', 'berry', 'khajoor']

In [ ]:
#removing spaces from left side in a string
freshfruit=['  banana','berry  ','khajoor']
[weapon.lstrip() for weapon in freshfruit]

['banana', 'berry  ', 'khajoor']

# GAPING

In [ ]:
#gape from both sides
name ='HammadNaviwala'
name.center(40)

'             HammadNaviwala             '

In [ ]:
#USing LJust
name.ljust(25,'-')

'HammadNaviwala-----------'

In [ ]:
#By default take gape on right side
name.ljust(25)

'HammadNaviwala           '

In [ ]:
name.rjust(25,'*')

'***********HammadNaviwala'

In [ ]:
#By default take gape on left side
name.rjust(25)

'           HammadNaviwala'

# POP REMOVES LAST NUMBER

In [3]:
#POP REMOVES LAST NUMBER every time we runs
eklist = [1,2,3,4,5,6,7,8,9]
poppedElement=[]

In [4]:
poppedElement.append(eklist.pop())
print(poppedElement)

[9]

In [ ]:
todoList=['ali','akram','akbar','aslam','asif']
abc=[]
inp=input('Write a name')
while True:
    if inp==todoList:
        abc.append()        
else:
    print("This name is not in a list")