In [2]:
def full_name() : 
    print('Hammad')

In [3]:
full_name()

Hammad

In [7]:
def full_name1() : 
    print('Hammad')
    print('Rizwan')

In [8]:
full_name1()

Hammad
Rizwan

In [11]:
def student (h) : 
    print(h)

In [13]:
student('hammad')

hammad

In [14]:
student(1213)

1213

In [15]:
student(True)

True

In [17]:
student(['hammad','Rizwan'])

['hammad', 'Rizwan']

In [60]:
def calc(num1,oper,num2):
    if oper=='+':
        print(num1 + num2 )
    elif oper =='-':
        print(num1 - num2)
    elif oper =='*':
        print(num1 * num2)
    elif oper == '/':
        print(num1 / num2)
    else : 
        print('Invalid Operation')

In [62]:
calc(547,'/',60)

9.116666666666667

In [10]:
def myname(fname):
    return fname
name1 = myname('Hammad')
print(name1)

Hammad

In [11]:
def family(son_name , father_name):
    print(f'son name is {son_name}')
    print(f"father name is {father_name}")

In [12]:
family('ahsan','shahzad')

son name is ahsan
father name is shahzad

In [13]:
def frnd(lol):
    for frd in lol:
        print(frd)

In [15]:
abc = ["hamad",'rizwan',"taha",'riaz','rafay','haseeb','hadi','naviwala']
frnd(abc)

hamad
rizwan
taha
riaz
rafay
haseeb
hadi
naviwala

In [16]:
def my_full_name (f_name , m_name , l_name):
    full_name = f_name + m_name + l_name
    print(full_name)

In [22]:
my_full_name(' hamad',' rizwan',' naviwala')

 hamad rizwan naviwala

In [25]:
#m_name is set as a default and must be come at the end of the code
def my_full_name (f_name , l_name ,m_name=' '):
    full_name = f_name + m_name + l_name
    print(full_name)

In [26]:
my_full_name('abdul ' , 'rafay')

abdul  rafay

In [47]:
def shopping(shop,tax=' '):
    if shop>=5000:
        tax=10
        print(f'TAX {tax}% will be applied on your shopping ')
    else:
        tax=5
        print(f'TAX {tax}% will be applied on your shopping ')

In [48]:
shopping(5000)

TAX 10% will be applied on your shopping

In [49]:
shopping(4999)

TAX 5% will be applied on your shopping

In [54]:
shopping(4999.99999999999)

TAX 5% will be applied on your shopping

In [19]:
def val(*names):
    print('my Family members are : ')
    for name in names :
        print(name)

In [20]:
val("hammad")

my Family members are :
hammad

In [21]:
val("rizwan","naviwala")

my Family members are :
rizwan
naviwala