In [27]:
dict1={'a':10,'b':20,'c':30}
for key1 , value1 in dict1.items():
    print(key1,value1)

a 10
b 20
c 30

In [28]:
for key1 in dict1.keys():
    print(key1)

a
b
c

In [29]:
for key1 in dict1.values():
    print(key1)

10
20
30

In [30]:
fav_lang={'jen':'phython','sarah':'a++','john':'javas'}
print("john fav lang is : " + fav_lang['john'])

john fav lang is : javas

In [31]:
data={'firstName':'Hammad','lastName':'Rizwan','Age':17,'city':'Karachi'}
print("My Full Name is : " + str(data['firstName']),str(data['lastName'])+"\n","And My Age is : "+str(data['Age'])+"\n","And I'm Living in : "+ str(data['city'])+"\n")

My Full Name is : Hammad Rizwan
 And My Age is : 17
 And I'm Living in : Karachi

In [32]:
data={'firstName':'Hammad','lastName':'Rizwan','Age':17,'city':'Karachi'}
print("My First Name is :{}".format(data['firstName']))
print("My last Name is :{}".format(data['lastName']))
print("My Age is :{}".format(data['Age']))
print("I'm Living in :{}".format(data['city']))

My First Name is :Hammad
My last Name is :Rizwan
My Age is :17
I'm Living in :Karachi

In [33]:
user_0={'Teacher':'Sir Nasir','Assistant_Teacher':'Shahzad','Student':'Hammad'}
for key ,value in user_0.items():
    print('\nkey : '+key)
    print('value : '+value)

key : Teacher
value : Sir Nasir

key : Assistant_Teacher
value : Shahzad

key : Student
value : Hammad

In [34]:
name ={'shahzad':'Ahsan','Sara Ali':'Khan','Komal':'Aftab'}
for firstName,lastName in name.items():
    print('My firstName is : '+ firstName.upper()+ ' and lastName is : ' + lastName.upper())

My firstName is : SHAHZAD and lastName is : AHSAN
My firstName is : SARA ALI and lastName is : KHAN
My firstName is : KOMAL and lastName is : AFTAB

# Looping Through All the Keys in a Dictionary

In [38]:
words={'mobile':'apple','batsman':'AB','bike':'Heavy','car':'Audi'}
for word in words.values():
    print('Dict : ' + word )

Dict : apple
Dict : AB
Dict : Heavy
Dict : Audi

In [39]:
alien1 = {'name':'lastname','color':'black','height':'5.7','weight':'67'}

if 'lastname' not in alien1.values():
    print("Please write your name")
else:
    print('Okay')

Okay

In [37]:
alien1 = {'name':'Anas','color':'black','height':'5.7','weight':'67'}

if 'lastname' not in alien1.keys():
    print("Please write your name")

Please write your name

In [44]:
list=['ali','akram','akbar','anas']
list.sort()
print(list)

['akbar', 'akram', 'ali', 'anas']

# list in dictionary and Sort

In [48]:
name1 = {'Shehrayar':'zafar','saif':'Zafar','Zohaib':'owais'}
for name in sorted(name1.keys()):
    print(name)

Shehrayar
Zohaib
saif

In [55]:
list=[1,3,4,673,28,76,25,0,9,2]
ray=sorted(list) 
ray

[0, 1, 2, 3, 4, 9, 25, 28, 76, 673]

In [3]:
list

list

In [29]:
list=[1,3,4,673,28,76,25,0,9,2]
print(reversed(list))

<list_reverseiterator object at 0x00000237BC446518>

# List of Dictionaries

In [71]:
alien0={'color':'green','points': 5}
alien1={'color':'yellow','points': 10}
alien2={'color':'red','points': 15}

aliens=[alien0,alien1,alien2]

for alien in aliens:
    for key,value in alien.items():
        print(key,value)

color green
points 5
color yellow
points 10
color red
points 15

In [72]:
numbers=[1,2,3,4,5,6,7,8,9,10]
for table in [2,3,4,5]:
    for num in numbers:
        print(f"{table}*{num} = {table*num}")

2*1 = 2
2*2 = 4
2*3 = 6
2*4 = 8
2*5 = 10
2*6 = 12
2*7 = 14
2*8 = 16
2*9 = 18
2*10 = 20
3*1 = 3
3*2 = 6
3*3 = 9
3*4 = 12
3*5 = 15
3*6 = 18
3*7 = 21
3*8 = 24
3*9 = 27
3*10 = 30
4*1 = 4
4*2 = 8
4*3 = 12
4*4 = 16
4*5 = 20
4*6 = 24
4*7 = 28
4*8 = 32
4*9 = 36
4*10 = 40
5*1 = 5
5*2 = 10
5*3 = 15
5*4 = 20
5*5 = 25
5*6 = 30
5*7 = 35
5*8 = 40
5*9 = 45
5*10 = 50